<script type="text/javascript">
  <% if signed_in? %>
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
  <% end %>
</script>

<main id='root'></main>
<footer class="group">
  <ul class="group">
   <li>
     <a href="http://bartmach.tech">Porfolio</a>
   </li>

   <li>
     <a href="http://www.linkedin.com/in/b-h-m">LinkedIn</a>
   </li>

   <li>
     <a href="http://github.com/Tribe216">GitHub</a>
   </li>
  </ul>
 </footer>
