.site-navbar {

  color: #003399;
  /*background-color: yellow;*/
  padding: 10px;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.site-label-box {
  /*background-color: pink;*/
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.site-name {
  font-size: 26px;
  /*background-color: teal;*/
}

.site-name > strong {
  font-weight: bold;
}

.auth-box {

  /*background-color: pink;*/
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.auth-button {
  font-size: 12px;
  font-weight: bold;
  border: 2px solid red;
  border-radius: 5px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 10px;
  margin-left: 10px;
  float: left;
}

.red-box {
  background-color: red;
  color: white;
}

.red-box:hover {
  background-color: white;
  color: red;
}

.white-box {
  background-color: white;
  color: red;
}

.white-box:hover {
  background-color: red;
  color: white;
}

.profile-pic {
  /*border: 0px solid black;*/
  width: 50px;
  height: 50px;
  padding: 1px;
  margin-left: 10px;
  border-radius: 50%;
  background-size: 100%;
  background-position: top;
}

.profile-pic > img {
  margin: 0 auto;
  display: block;
  width: 100%;
  z-index: -1;
}
