.site-navbar {

  color: #003399;
  /*background-color: yellow;*/
  padding: 10px 0px;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.site-label-box {
  /*background-color: pink;*/
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 2px 0;
}

.logo {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.site-name {
  font-size: 28px;
  color: black;
  /*background-color: teal;*/
}

.site-name > strong {
  font-weight: bold;
}



.auth-box {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.auth-button {
  outline: none;
  font-size: 12px;
  font-weight: bold;
  border: 2px solid red;
  border-radius: 5px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 10px;
  margin-left: 10px;
  float: left;
  transition: background-color 0.3s, color 0.0s;
  outline: 0;
}

.auth-login-encouragement {
  color: #aaa;
}

.auth-button:hover {
  cursor: pointer;
}

.red-box {
  background-color: red;
  color: white;
}

.red-box:hover {
  background-color: white;
  color: red;
}

.white-box {
  background-color: white;
  color: red;
}

.white-box:hover {
  background-color: red;
  color: white;
}

.profile-pic {
  /*border: 0px solid white;*/
  width: 50px;
  height: 50px;
  padding: 1px;
  margin-left: 10px;
  border-radius: 50%;
  background-size: 100%;
  background-position: top;
  transition: box-shadow 0.3s;
  border: 0;
}

.profile-pic:hover {
  box-shadow: 0px 0px 2px 2px rgba(255,0,0,1);
}

.profile-name {
  color: red;
  font-size: 18px;

  opacity: 0;
  transition: opacity 0.3s ease-out;

  position: absolute;
  right: 150px;
}

.profile-pic:hover ~ .profile-name {
  opacity: 1;
}
