.review-aggregate {
}

.review-bars-header {
  text-align: center;
  color: #666;
  font-size: 32px;
  margin: 10px 0;
}

.review-bar-box {
}

.review-chart-element {
   width: 90%;
  text-align:center;

   margin: 0 auto;
}

.review-chart-label{
    display: inline-block;
    width: 40%;
    font-size: 16px;
    text-align: right;
    color: black;
    padding-right: 10px;
}

.review-chart-part-wrapper {
    display: inline;
    margin-left: 10px;
    width: 40%;
}

.review-score-part {
  width: 25px;
  height: 25px;
  margin: 2px 0;

  outline: none;
  font-size: 14px;
  font-weight: bold;
  border: none;
  background-color: white;
  color: transparent;
  border-right: 0px solid #ccc;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;

  transition: background-color 0.3s, color 0.0s;
}

.review-remove-relevant {
  border-left: 1px solid #ccc;
  background-color: #666;
  width: 25px;
  color: white;
  margin-right: 1px;
  text-align: center;
  padding: 0;
}

.review-remove-relevant:hover {
  cursor: pointer;
  background-color: #d00;
}

.review-remove-inactive {
    color:white;
    width: 25px;
    border-top: 0;
    border-left: 0;
    border-bottom: 0;
    margin-right: 3px;
    text-align: center;
    padding: 0;
}

.part-of-score-bar-red {
  background-color: red;
}

.part-of-score-bar-orange {
  background-color: orange;
}

.part-of-score-bar-green {
  background-color: green
}


.part1:hover, .part2:hover, .part3:hover, .part4:hover {
  background-color: #d00;
  cursor: pointer;
}

.part5:hover, .part6:hover {
  background-color: #ff6600;
  cursor: pointer;
}

.part7:hover, .part8:hover, .part9:hover, .part10:hover {
  background-color: #060;
  cursor: pointer;
}

.part1 {
  border-left: 1px solid #ccc;
}

.part10 {
  border-right: 1px solid #ccc;
}
